<div style="
max-height: calc(100vh - 20vh);
">

    <form class="modal-box" method="dialog">
        <div class="grid grid-cols-2 gap-2" style="padding: 24px;">
            <div style="font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px;"> Resumen
            </div>
            <div style="padding-left: 95%">
                <button (click)="onNoClick()" class=" bg-white text-black btn-sm btn-circle btn-ghost absolute ">
                    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM15.36 14.3C15.65 14.59 15.65 15.07 15.36 15.36C15.21 15.51 15.02 15.58 14.83 15.58C14.64 15.58 14.45 15.51 14.3 15.36L12 13.06L9.7 15.36C9.55 15.51 9.36 15.58 9.17 15.58C8.98 15.58 8.79 15.51 8.64 15.36C8.35 15.07 8.35 14.59 8.64 14.3L10.94 12L8.64 9.7C8.35 9.41 8.35 8.93 8.64 8.64C8.93 8.35 9.41 8.35 9.7 8.64L12 10.94L14.3 8.64C14.59 8.35 15.07 8.35 15.36 8.64C15.65 8.93 15.65 9.41 15.36 9.7L13.06 12L15.36 14.3Z"
                            fill="#1B1B1D" />
                    </svg>
                </button>
            </div>
        </div>
        <div>
            <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
                <div class="w-full max-w-screen-xl mx-auto">

                    <!-- Tabs -->
                    <mat-tab-group [animationDuration]="'0'" class="sm:px-2" mat-stretch-tabs="false">

                        <!-- Inicio -->
                        <mat-tab label="Región">
                            <ng-template matTabContent>
                                <div>
                                    <table [dataSource]="rowDetails"
                                        class="overflow-y-visible content-center text-center" mat-table>

                                        <ng-container matColumnDef="region" sticky>
                                            <th *matHeaderCellDef mat-header-cell
                                                style="z-index: 1;padding-left: 10px !important;">
                                                REGION
                                            </th>

                                            <td *matCellDef="let budget" mat-cell style="z-index: 1;">
                                                <span class="flex items-center">
                                                    <span class="ml-3 leading-4">{{budget.name}}</span>
                                                </span>
                                            </td>
                                        </ng-container>

                                        <tr *matHeaderRowDef="budgetDetails.columns" mat-header-row></tr>
                                        <tr *matRowDef="let row; columns: budgetDetails.columns;" mat-row></tr>

                                    </table>

                                </div>
                            </ng-template>
                        </mat-tab>

                        <mat-tab label="Plaza">
                            <ng-template matTabContent>
                                <table [dataSource]="rowDetailsPlaza" class="overflow-y-visible" mat-table>

                                    <ng-container matColumnDef="plaza" sticky>
                                        <th *matHeaderCellDef mat-header-cell
                                            style="z-index: 1;padding-left: 10px !important;">
                                            PLAZA
                                        </th>
                                        <td *matCellDef="let budget" mat-cell style="z-index: 1;">
                                            <span class="flex items-center">
                                                <span class="ml-3 leading-4">{{budget.name}}</span>
                                            </span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="region" sticky>
                                        <th *matHeaderCellDef mat-header-cell
                                            style="z-index: 1;padding-left: 10px !important;">
                                            REGION
                                        </th>
                                        <td *matCellDef="let budget" mat-cell style="z-index: 1;">
                                            <span class="flex items-center">
                                                <span class="ml-3 leading-4">{{budget.region}}</span>
                                            </span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="descripcion" sticky>
                                        <th *matHeaderCellDef mat-header-cell
                                            style="z-index: 1;padding-left: 10px !important;">
                                            DESCRIPCION
                                        </th>
                                        <td *matCellDef="let budget" mat-cell style="z-index: 1;">
                                            <span class="flex items-center">
                                                <span class="ml-3 leading-4">{{budget.description}}</span>
                                            </span>
                                        </td>
                                    </ng-container>

                                    <tr *matHeaderRowDef="budgetDetailsPlaza.columns" mat-header-row></tr>
                                    <tr *matRowDef="let row; columns: budgetDetailsPlaza.columns;" mat-row></tr>
                                </table>
                            </ng-template>
                        </mat-tab>

                        <mat-tab label="Nivel de Distribuidora">
                            <ng-template matTabContent>
                                <table [dataSource]="rowDetailsnd" class="overflow-y-visible" mat-table>

                                    <ng-container matColumnDef="distribuicion" sticky>
                                        <th *matHeaderCellDef mat-header-cell
                                            style="z-index: 1;padding-left: 10px !important;">
                                            NOMBRE DEL NIVEL DE DISTRIBUIDORA
                                        </th>
                                        <td *matCellDef="let budget" mat-cell style="z-index: 1;">
                                            <span class="flex items-center">
                                                <span class="ml-3 leading-4">{{budget.name}}</span>
                                            </span>
                                        </td>
                                    </ng-container>

                                    <tr *matHeaderRowDef="budgetDetailnd.columns" mat-header-row></tr>
                                    <tr *matRowDef="let row; columns: budgetDetailnd.columns;" mat-row></tr>

                                </table>
                            </ng-template>
                        </mat-tab>

                    </mat-tab-group>
                </div>
            </div>
        </div>
    </form>

</div>